<div class="marker-info-window">
  <h3>{{title}}</h3>

  <div>
    <div>IP: <code>{{ip}}</code></div>
    <div>TTL: <code>{{ttl}}</code></div>
    <div>Latitude: <code>{{lat}}</code></div>
    <div>Longitud: <code>{{lng}}</code></div>
  </div>
</div>
